 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
        
    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <h1 class="title">Edit Guitars page</h1>
      </div>
    </section>

    <section class="container is-max-widescreen p-5">
      <!--  NOTE: action will be the route, method will be the HTTP verb-->
      <form action="/guitars/<%=guitar.id%>?_method=PUT" method="POST">
        <div class="field">
          <label class="label">Guitar Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="guitar name"
              name="name"
              value="<%= guitar.name %> "
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Guitar Price</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="guitar price"
              name="price"
              value="<%= guitar.price %>"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Guitar Image</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="guitar image"
              name="image"
              value="<%= guitar.image %> "
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <a class="button is-info" href="/guitars/<%= guitar.id %> "
              >Cancel</a
            >
            <button class="button is-success" value="/guitars/<%= guitar.id %> ">Edit Guitars</button>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>